<%= stylesheet_link_tag    'parties', media: 'all', 'data-turbolinks-track' => true %>

<div class="parties">

  <div class="staffMember">
    <h1> Welcome </h1>
  </div>

  <div class="navigation">
    <a href="/parties/new">Seat another Party</a>
    <a href="/ordered_items/new">Place an Order</a>

    <%= button_to 'Delete', parties_path(@party), method: :delete %>

  </div>


  <div class="info">

    <ul>

    <% @parties.each do |party| %>
       <li>Table Number: <%= party.table_number %></li>
       <li>Waitress/Waiter: <%= party.staff.name %></li><br />
    <% end %>
    </ul>
  </div>

</div>
