<%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>


<div class="welcome">
  <div class="header">
      <h1>List of all signed in Staff Members</h1>
  </div>

  <div class="navigation">
    <%= link_to "Log in", 'staffs#log_in' %>
    <%= link_to "Sign Up", 'staffs/new' %>
  </div>

</div>
