body {
  background: url("http://www.thegannetgla.com/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
}
.container {
  position: absolute;
}
.header {
  position: relative;
  left: 400px;
}
.order {
  position: relative;
  left: 450px;
}
#totalPrice {
  color: red;
}
#bill {
  color: black;
}
p {
  color: black;
}
h3  {
  color: black;
}
.all {
  background-color: bisque;
}
